# Global
.vscode
.idea
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules
npm-debug.log
yarn-error.log

# Website
website/node_modules
website/.npm
website/.context

# Allow dist in website (explicitly, if it was ignored)
# But typically we ignore it. The Hook handles the forceful add.
# If we want to verify it's NOT ignored, we can comment this out.
# website/dist 
